@page "{eventId}"
@inject EventsHandler _eventsHandler
@inject UserManager<EventiaUser> _userManager

@using Microsoft.AspNetCore.Identity
@model EventiaWebapp.Pages.JoinModel
@{
    ViewData["Title"] = "Events";

    var evntAlreadyBooked = false;

    var myEvents = await _eventsHandler.GetMyEvents(_userManager.GetUserId(User));
    var eventsIdList = myEvents.Select(e => e.Id).ToList();

    @if (eventsIdList.Contains(@Model.evnt.Id))
    {
        evntAlreadyBooked = true;
    }
}

<div>
    <div class="my-container">
        <div class="card text-center my-card">
            <div class="card-header">
                <p>Join this event?</p>
            </div>
            <div class="card-body">
                <h1 class="card-title">@Model.evnt.Title</h1>
                <p class="card-text">@Model.evnt.Description</p>
                <p><i>Tickets available: @Model.evnt.SeatsAvailable</i></p>
                
                @if (evntAlreadyBooked)
                {
                    <p><b>You are already booked to this event!</b></p>
                    <a class="btn btn-info my-btn confirm-btn" asp-controller="Events" asp-action="MyEvents">My Events</a>
                }
                else
                {
                    <form method="post" asp-route-evtId="@Model.evnt.Id">
                        <button class="btn btn-info my-btn confirm-btn">Confirm Booking</button>
                    </form>
                }
            </div>
                <div class="card-footer text-muted">
                    <p>@Model.evnt.Date.ToShortDateString() - @Model.evnt.Date.ToShortTimeString()  &emsp; <b>|</b> &emsp; @Model.evnt.Place   &emsp;<b>|</b>&emsp;   @Model.evnt.Organizer.OrganizerName </p>
                </div>
        </div>
    </div>
</div>

