@page "{eventId}"
@inject EventsHandler _eventsHandler
@inject UserManager<EventiaUser> _userManager

@using Microsoft.AspNetCore.Identity
@model EventiaWebapp.Pages.JoinModel
@{
    ViewData["Title"] = "Events";

    
    var evntAlreadyBooked = false;

    var myEvents = await _eventsHandler.GetMyEvents(_userManager.GetUserId(User));
    var eventsIdList = myEvents.Select(e => e.Id).ToList();

    @if (eventsIdList.Contains(@Model.Evnt.Id))
    {
        evntAlreadyBooked = true;
    }
}

<div>
    <div class="my-container">
        <div class="card text-center my-card">
            <div class="card-header">
                <img class="join-img" src="@Model.Evnt.Image"/>
            </div>
            <div class="card-body">
                <h1 class="card-title">@Model.Evnt.Title</h1>
                <p class="card-text">@Model.Evnt.Description</p>
                <p><i>Tickets available: @Model.Evnt.SeatsAvailable</i></p>
                
                @if (User.IsInRole("administrator"))
                {
                    <p><b>Events cannot be booked as administrator.</b></p>
                }
                @if (User.IsInRole("organizer"))
                {
                    <p><b>Events cannot be booked as organizer.</b></p>
                }
                @if (User.IsInRole("user"))
                {
                    @if (evntAlreadyBooked)
                    {
                        <p><b>You are already booked to this event!</b></p>
                        <a class="btn btn-info my-btn confirm-btn" asp-controller="Events" asp-action="MyEvents">My Events</a>
                    }
                    else
                    {
                        <form method="post" asp-route-evtId="@Model.Evnt.Id">
                            <button class="btn btn-info my-btn confirm-btn">Confirm Booking</button>
                        </form>
                    }
                }
                
            </div>
                <div class="card-footer text-muted">
                    <p>@Model.Evnt.Date.ToShortDateString() - @Model.Evnt.Date.ToShortTimeString()  &emsp; <b>|</b> &emsp; @Model.Evnt.Place   &emsp;<b>|</b>&emsp;   @Model.Evnt.Organizer.UserName </p>
                </div>
        </div>
    </div>
</div>

