@page "{eventId}"
@inject EventsHandler _eventsHandler

@model EventiaWebapp.Pages.JoinModel
@{
    ViewData["Title"] = "Events";

    var evntExists = false;

    var myEvents = _eventsHandler.GetMyEvents(1).Select(e => e.Id).ToList();
    @if (myEvents.Contains(@Model.evnt.Id))
    {
        evntExists = true;
    }
}


<div>
    <div class="my-container">
        <div class="card text-center my-card">
            <div class="card-header">
                <p>Join this event?</p>
            </div>
            <div class="card-body">
                <h1 class="card-title">@Model.evnt.Title</h1>
                <p class="card-text">@Model.evnt.Description</p>
                <p><i>Tickets available: @Model.evnt.SeatsAvailable</i></p>
                
                @if (evntExists)
                {
                    <p><b>You are already booked to this event!</b></p>
                    <a class="btn btn-info my-btn confirm-btn" asp-controller="Events" asp-action="MyEvents">My Events</a>
                }
                else
                {
                    <form method="post" asp-route-evtId="@Model.evnt.Id">
                        <button class="btn btn-info my-btn confirm-btn">Confirm Booking</button>
                    </form>
                }
                
               
                </div>
            <div class="card-footer text-muted">
                <p>@Model.evnt.Date.ToShortDateString() - @Model.evnt.Date.ToShortTimeString()  &emsp; <b>|</b> &emsp; @Model.evnt.Place   &emsp;<b>|</b>&emsp;   @Model.evnt.Organizer.Name </p>

            </div>
        </div>
    </div>
</div>

