@page
@using Microsoft.AspNetCore.Identity
@model EventiaWebapp.Pages.ManageUsersModel
@inject UserManager<EventiaUser> _userManager

@{

    ViewData["Title"] = "Manage Users";
    
}
<div class="my-container my-manage-users-container">
    <div class="card my-eventlist">
        <h1>Applicants for Organizer Role</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Confirm Application</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in @Model.UserApplyingForOrganizer)
            {
                <tr>
                    <th scope="row">@item.UserName</th>
                    <td>@item.Email</td>
                    <td>
                        <form method="post" asp-route-userId="@item.Id">
                            <button class="btn btn-info my-btn confirm-btn">Accept Application</button>
                        </form>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>



<div class="my-container my-manage-users-container">
        <div class="card my-eventlist">
            <h1>All Users</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    
                </tr>
                </thead>
                <tbody>

                @foreach (var item in @Model.EventiaUsersList)
                {
                    var roles = await _userManager.GetRolesAsync(item);

                    <tr>
                        <td scope="row">@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@roles[0]</td>
                    
                    @if (roles[0] == "organizer")
                    {
                        <td>
                            <form method="post" asp-route-userId="@item.Id">
                                <button class="btn btn-info my-btn confirm-btn">Remove organizer</button>
                            </form>
                        </td>
                    }
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>

