@model int 
@inject EventsHandler _eventsHandler

@{
    ViewData["Title"] = "My Events";
    var attendeeId = Model;
    List<Event> myEventList = _eventsHandler.GetMyEvents(attendeeId);
    

}

@{
    <div class="my-container">
        <div class="card my-eventlist">
            <h1>Booked Events</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">Organizer</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in myEventList)
                {
                    <tr>
                        <th scope="row">@item.Title</th>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.Date.ToShortTimeString()</td>
                        <td>@item.Place</td>
                        <td>@item.Organizer.Name</td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
